name: Build AMI & Deploy Web Server

on:
  push:
    branches:
      - main

jobs:
  packer:
    name: Build AMI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Packer
        run: |
          curl -fsSL https://releases.hashicorp.com/packer/1.9.5/packer_1.9.5_linux_amd64.zip -o packer.zip
          unzip packer.zip
          sudo mv packer /usr/local/bin/
          packer version

      - name: Build AMI
        id: packer_build
        run: |
          AMI_ID=$(packer build -machine-readable packer/web-server.json | awk -F, '$0 ~/artifact,0,id/ {print $6}')
          echo "ami_id=$AMI_ID" >> $GITHUB_OUTPUT

  terraform:
    name: Provision Infrastructure
    runs-on: ubuntu-latest
    needs: packer
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-east-1"
      TF_VAR_key_name: ${{ secrets.EC2_KEY_NAME }}
      TF_VAR_web_server_ami: ${{ needs.packer.outputs.ami_id }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: |
          terraform init -input=false -reconfigure \
            -backend-config="bucket=my-hateka-tf-state-bucket-123456" \
            -backend-config="key=envs/prod/terraform.tfstate" \
            -backend-config="region=us-east-1" \
            -backend-config="dynamodb_table=terraform-locks"

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve

      - name: Get EC2 public IP
        id: get_ip
        run: |
          ip=$(terraform output -raw instance_public_ip | tr -d '\r\n')
          echo "instance_ip=$ip" >> $GITHUB_OUTPUT
